<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <header>
    <h1><b>KIDAS HOSPITAL</b></h1>
  </header>

  <body>
    <main>

      {{{body}}}
      <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
      ></script>

      <br />
      <br />
      <footer>
        <div class="footer">
          <div class="contain">
            <div class="col">
              <h2>Address</h2>
              <p class="footerp">
                121 East Side Avenue<br />
                Hoboken, New Jersey<br />
                07030

              </p>
            </div>
            <div class="col">
              <h2>Contact Us</h2>

              <p class="footerp">
                Contact:+1(551)203-4675<br /><br />
                Email:<a
                  href="https://accounts.google.com/signin/v2/identifier?hl=en&flowName=GlifWebSignIn&flowEntry=AddSession"
                  target="_blank"
                >hopsitalmanagmentsystemcs546@gmail.com</a>

              </p>
            </div>
            <div class="col">
              <h2>Get Directions</h2>
              <ul>
                <a href="https://www.google.com/maps" target="_blank">Map</a>
              </ul>
            </div>
            <div class="col">
              <h2>About Us</h2>
              <a href="/public/css/aboutus.html" target="_blank">
                Click here
              </a>
            </div>
            <div class="col social">
              <h2>Social</h2>
              <ul>
                <li><a
                    href="https://www.facebook.com/"
                    target="_blank"
                  >Facebook</a></li>
                <li><a
                    href="https://www.instagram.com/"
                    target="_blank"
                  >Instagram</a></li>
                <li><a
                    href="https://www.twitter.com/"
                    target="_blank"
                  >Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <button onclick="myFunction()">Switch mode</button>

      <script>
        function myFunction() { var element = document.body;
        element.classList.toggle("dark"); }
      </script>
    </main>
  </body>
</html>