* {
  box-sizing: border-box;
}
html {
  height:100.1%;
  overflow-y: scroll;
  }
body {
  background: linear-gradient(0.25turn, #d48fd4, #ebf8e1,#88c2db); 
}

header {
  color: rgb(3, 2, 2);
  background-color: #e7b8d4;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

.footer {
  color: #121212;
  position: relative;
  width: 180%;
  left:auto;
  float: left;
  
}

.footer .col {
  color: #121212;
  position: relative;
  border-top: 1px solid;
  
  position:sticky;
  width: 285px;
  height: 170px;
  float: left;
  font-size: 100%;
  background: #fac6e5;
  padding: 0px 60px 60px 60px;
}
 option{
   text-align: left;
 }
.column {
  float: left;
  width: 14%;
  padding: 10px;
}