<div class="row">
  <div class="column">
    <img src="public/css/home3.jpeg" alt="Hospital" width="1140" height="400" />
  </div>
  <div class="column">
    <div class="form-body">
      <form>
        <input
          type="button"
          onClick="parent.location='/users/profile'"
          value="My profile"
        />
        <br />
        <br />
        <br />
        <br />
        <input
          type="button"
          onClick="parent.location='/users/book'"
          value="Book an Appointment"
        />
        <br /><br /><br />
        <br />
        <input
          type="button"
          onClick="parent.location='/users/feedback'"
          value="Feedback"
        />
        <br /><br /><br />
        <br />
        <input
          type="button"
          onClick="parent.location='/users/logout1'"
          value="Logout"
        />
      </form>

    </div>
  </div>
</div>