<html>
  <head>
    <title>Welcome to the Hopsital. Please login to enjoy our services</title>
  </head>

  <body>
      <h1>
  Welcome to the Hopsital. Please login to enjoy our services
</h1>


<br></br>
<button><a href="/doctorsusers/">Doctors</a></button>

<button><a href="/users">Patients</a></button>
  </body>