<html>
  <head>
    <title>Register a Patient here</title>

  </head>
  <button onclick="window.location.href='/doctors/view_patients'">View All Patients admitted in Hopsital</button>
<nav><button><a href="/doctorsusers/logout">Logout</a></button></nav>
  <div class="book">
    <div class="book-app">
      <h1><u>Register a Patient here</u></h1>
      <form action="/doctors/register_patient" method="post">
        <label>First Name</label>
        <input type="text" name="firstname" placeholder="First name" />
        <br></br>
        <label>Last Name</label>
        <input type="text" name="lastname" placeholder="Last name" />
         <br></br>


        <label>Date of Birth</label>
        <input type="date" name="dateofbirth" placeholder="Birthday" />
        <script>function myFunction() {  var today = new Date().toISOString().split('T')[0];
document.getElementsByName("setTodaysDate")[0].setAttribute('min', today); }</script>
      
 <br></br>
        <label>Sex</label>
        <select name="sex">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Others</option>
        </select>
 <br></br>
 <label>Email id</label>
        <input type="text" name="emailid" placeholder="Email id" />
        <br></br>
        <label>Patient Unique Number</label>
        <input
          type="text"
          name="patientuniquenumber"
          placeholder="Patient Unique Number"
        />
 <br></br>
       

        <label>Disease name</label>
        <input type="text" name="diseasename" placeholder="Disease name" />
 <br></br>
        <label>Disease Score</label>
        <input type="text" name="diseasescore" placeholder="Disease Score" />
        <div>
          {{#if hasErrors}}
            <p class="error"> {{errors}}.</p>
          {{/if}}
        </div>
        <button type="submit" value="Registar" ></button>
 
        
      </form>

    </div>
  </div>

</html>