<h1> your appointment is confirmed</h1>
<center>
<p>
    <h3>{{appointment.date}} --- {{appointment.time}}</h3>
</p>
</center>

        
            
                <form>
                 <center><input type=button onClick="parent.location='https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3fcmd%3d_account'" value='Make Payment online' target="_blank"></form></center>
                 <br>
                  <a href="/users/patient1">
        <h3>
            <center>HOME</center>
        </h3>
    </a>
             <br>
              <br>
              <br>
                </form>   
               


           