<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css">
    

  </head>

  <body>
   <header> 
        <h1><b>KIDAS HOSPITAL</b></h1>
    </header>
    
      {{{body}}} 

      <br>
      <br>
      <footer>
      <div class="footer">
            <div class="contain">
                <div class="col">
                    <h2>Address</h2>
                    <p class="footerp">
                    121 East Side Avenue<br>
                        Hoboken, New Jersey<br>
                        07030
                    
                    </p>
                </div>
                <div class="col">
                    <h2>Contact Us</h2>

                    <p class="footerp">
                    Contact:+1(551)203-4675<br><br>
                    Email:<a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=1209600&osid=1&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">kidas@hospital.com</a>
                    
                    </p>
                </div>
                <div class="col">
                    <h2>Get Directions</h2>
                    <ul>
                        <a href="https://www.google.com/maps" target="_blank">Map</a>
                    </ul>
                </div>
                <div class="col">
                    <h2>About Us</h2>
                    <a href="/public/css/aboutus.html" target="_blank">
                        Click here
                    </a>
                </div>
                <div class="col social">
                    <h2>Social</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                        <li><a href="https://www.twitter.com/" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    </body>
    <script src="/public/css/login.js"></script> 
    {{!-- <script src="/public/css/signup.js"></script> --}}
</html>